<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mctw.sc">

    <!-- Backup Import/Export -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Run server socket as foreground service. As such we must display a notification (sdk-28) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Allow to start activity from background -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name="com.mctw.sc.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mctw.sc.QRShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mctw.sc.QRScanActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.mctw.sc.MainService"
            android:exported="false" />

        <activity
            android:name="com.mctw.sc.StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mctw.sc.CallActivity"
            android:parentActivityName="com.mctw.sc.MainActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
            android:screenOrientation="fullUser" />
        <activity
            android:name="com.mctw.sc.SettingsActivity"
            android:parentActivityName="com.mctw.sc.MainActivity" />
        <activity
            android:name="com.mctw.sc.AboutActivity"
            android:parentActivityName="com.mctw.sc.MainActivity" />
        <activity
            android:name="com.mctw.sc.BackupActivity"
            android:parentActivityName="com.mctw.sc.MainActivity" />
        <activity
            android:name="com.mctw.sc.AddressActivity"
            android:parentActivityName="com.mctw.sc.SettingsActivity" />
        <activity
            android:name="com.mctw.sc.LicenseActivity"
            android:parentActivityName="com.mctw.sc.AboutActivity" />
        <activity
            android:name="com.mctw.sc.VPNActivity"
            android:parentActivityName="com.mctw.sc.VPNActivity" />
        <activity
            android:name="com.mctw.sc.UserShareActivity"
            android:parentActivityName="com.mctw.sc.UserShareActivity" />
    </application>

</manifest>